
body {
    font-family: "Open Sans",Helvetica,Roboto,Arial,sans-serif;
}

* {
    box-sizing: border-box;
}

#site {
    width: 100%;
}

#header {
    border-top: 5px solid #2176d2;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(161,161,161,0.5);
    padding: 3px 0;
}

#logo-wrap {
    display: inline-block;
    vertical-align: middle;
    width: 190px;
}

#nav-wrap {
    display: inline-block;
    vertical-align: middle;
}

#site-logo {
    width: 170px;
    height: auto;
}

#main-nav li {
    display: inline-block;
    width: 100px;
    font-family: 'Montserrat', 'Tahoma', sans-serif;
}

.center-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.img-half {
    width: 50%;
    height: auto;
}

.half-and-half div{
    width: 100%;
    max-width: 45%;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
}
.half-and-half div:nth-child(2){
    margin-left: 9%;
}

.thirds div {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.t-member {
    width: 100%;
    text-align: center;
}
.t-member img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

.primary-title {
    padding-bottom: 8px;
    border-bottom: 8px solid #2176d2;
}

.secondary-title {
    background-color: #f0f0f0;
    padding: 5px;
    line-height: 1;
}

a {
    text-decoration: none;
    color: #0f4d90;
}

figure {
    padding: 0;
    margin: 0;
}

figcaption {
    width: 50%;
    background-color: #d8d7d7;
    color: #686767;
    padding: 2px 3px;
}

input[type=text], textarea {
    border: 1px solid #ccc;
}

.form-left {
    display: inline-block;
}
.form-right {
    display: inline-block;
}

#progressbar-wrap {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#progressbar {
    width: 70%;
    height: 100%;
    background-color: #0f4d90;
}

#percentage {
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 100%;
    line-height: 30px;
}

.hero {
    width: 100%;
    height: auto;
}

.hero-wrap {
    position: relative;
}

.hero-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.hero-caption-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.shared {
    font-size: 9px;
}

a.skip-main {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip-main:focus, a.skip-main:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}